apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -o kubernetes/
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: logger
  name: logger
spec:
  type: LoadBalancer
  ports:
    - name: "3009"
      port: 3009
      targetPort: 3009
      nodePort: 30009
  selector:
    io.kompose.service: logger
