apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -o kubernetes/
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: logger
  name: logger
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: logger
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -o kubernetes/
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: logger
    spec:
      containers:
        - env:
            - name: KAFKA_HOST
              valueFrom:
                secretKeyRef:
                  name: logger-secrets
                  key: KAFKA_HOST
          image: ghcr.io/fis2425/logger:latest
          name: logger
          ports:
            - containerPort: 3009
              protocol: TCP
      restartPolicy: Always
